.accueilBackground{
    -fx-background-image: url(background_accueil.jpg);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.check-box .box{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 4;
}

.check-box:selected .mark {
    -fx-background-color: black;
}


.labelParameter {
    -fx-pref-width: 380.0;
    -fx-pref-height: 24.0;
}

.text-field {
    -fx-max-width: 459.0;
    -fx-pref-height: 20.0;
    -fx-pref-width: 459.0;
    -fx-text-box-border: black;
    -fx-background-insets: 0, 1 5 1 5;
}

.text-field:focused {
    -fx-focus-color: #486ab5;
}

.button {
    -fx-background-color: #f4f4f9;
    -fx-border-color: #b7b6fe;
    -fx-border-width: 2;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
}

.boxcarte {
    -fx-alignment: center-right;
}

.button:hover {
    -fx-background-color: rgba(86, 86, 246, 0.19);
}

#background {
    -fx-background-image: url("background_image.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

#vbox {
    -fx-border-color: #b7b6fe;
    -fx-border-radius: 5;
    -fx-border-width: 10;
}

.textLabel {
    -fx-text-fill: #8fafe9;
}

.textField {
    -fx-text-box-border: #b7b6fe;
    -fx-background-insets: 0, 1 5 1 5 ;
}

.textField:focused{
    -fx-focus-color: #486ab5;
}


