.background{
    -fx-background-image: url(background_accueil.jpg);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.borderPage {
    -fx-border-color: #b7b6fe;
    -fx-border-radius: 5;
    -fx-border-width: 5;
    -fx-background-radius: 11;
    -fx-background-color: white;
}

.checkBoxCategorie .box{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 4;
}

.checkBoxCategorie:selected .mark {
    -fx-background-color: black;
}


.labelParameter {
    -fx-pref-width: 380.0;
    -fx-pref-height: 24.0;
}

.textFieldParameter {
    -fx-max-width: 459.0;
    -fx-pref-height: 20.0;
    -fx-pref-width: 459.0;
    -fx-text-box-border: black;
    -fx-background-insets: 0, 1 5 1 5;
}

.closeButton {
    -fx-border-color: black;
    -fx-background-radius: 11;
    -fx-border-width: 2;
}

.textFieldParameter:focused {
    -fx-focus-color: #486ab5;
}

.button {
    -fx-background-color: #f4f4f9;
    -fx-border-color: #b7b6fe;
    -fx-border-width: 2;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-color: rgba(86, 86, 246, 0.19);
}

#vbox {
    -fx-border-color: #b7b6fe;
    -fx-border-radius: 5;
    -fx-border-width: 10;
}

.textLabel {
    -fx-text-fill: #8fafe9;
}



