.body{
    -fx-background-image: url(background_accueil.jpg);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.button {
    -fx-background-color: #f4f4f9;
    -fx-border-color: #b7b6fe;
    -fx-border-width: 2;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
}

.boxcarte {
    -fx-alignment: center-right;
}

.button:hover {
    -fx-background-color: rgba(86, 86, 246, 0.19);
}